html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

b {
    font-weight: bold;
}

/* .input-wrapper */
.input-wrapper {
    display: flex;
    justify-content: space-between;
}

/* letter */
.letter {
    padding: 10px;
}

/* .letter__fields */
.letter__fields--export {
    margin-top: 30px;
}

.letter__fields-wrapper {
    min-height: 250px;
}